html {
    background: #000;
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #20C20E;
}

.form {
    position: absolute;
    top: 50px; left: 50px; right: 50px; bottom: 50px;
    outline: 2px solid #20C20E;
    padding: 10px;
}

.username{
    padding: 0px;
    border: 0px;
    text-align: left;
    width: 70%;
    position: absolute;
    left: 10px;
    bottom: 10px;
    outline: 2px solid #20C20E;
    background-color: black;
    color: #20C20E;
    height: 25px;
}

.go {
    padding: 0px;
    border: 0px;
    position: absolute;
    left: 72.5%;
    right: 10px;
    bottom: 10px;
    background-color: #20C20E;
    color: #000;
    height: 25px;
    outline: 2px solid #20C20E;
    border-radius: 10px;
}

.lock {
    margin-top: 45px;
}