<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="">
    <title>Telling Jams</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".message-area").scrollTop($(".message-area")[0].scrollHeight)
        })
    </script>
</head>
<body>  
    {% if rickroll %}
        <iframe class="rickroll" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%" src="https://www.youtube.com/embed/xvFZjo5PgG0?autoplay=1&cc_load_policy=1" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    {% endif %}
        <div>
    </div>
    <div class="mainapp">
        <div class="header">
            <h1>TELLING_JAMS - a horrific idea</h1>
        </div>
        <div class="message-area" id="message-area">
            {% if messages %}
                {% for x in messages %}
                    <!-- <p>&lt;username&gt;: {{x}}</p> -->
                    <p>{{x}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <form action="/" method="post">
            <input type="text" name="message" id="message" class="send-message" placeholder="Tell jams" autocomplete="off" autofocus maxlength="10ch">
            <input type="submit" value="SEND" class="submit-message">
        </form>
    </div>
</body>
</html>