<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="">
    <title>Telling Jams</title>
    <script>
        $(document).ready(function(){
            $("message-area").scrollTop($("message-area").scrollHeight);
        })
    </script>
</head>
<body>
    <div class="mainapp">
        <div class="header">
            <h1>TELLING_JAMS - a    horrific idea</h1>
        </div>
        <div class="message-area">
            {% if messages %}
                {% for x in messages %}
                    <!-- <p>&lt;username&gt;: {{x}}</p> -->
                    <p>{{x}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <form action="/" method="post">
            <input type="text" name="message" id="message" class="send-message" placeholder="Tell jams" autocomplete="off" autofocus>
            <input type="submit" value="SEND" class="submit-message">
        </form>
    </div>
</body>
</html>