<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/username.css">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <title>Username</title>
</head>
<body>
    <div class="form">
        <div class="lock">
            <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
            </svg>
        </div>
        <div>
            <h1>Please choose a username</h1>
        </div>
        <form action="/username" method="post">
            <input type="text" name="username" id="username" placeholder="Choose a username" autocomplete="off" class="username">
            <input type="submit" value="Go" class="go">
        </form>
    </div>
</body>
</html>